@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #7a14ff9f, #000);
}

header{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(to top #000);
    position: fixed;
    top: 0;
}

header h2{
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 2rem;
    transition: 0.4s ease-in;
}

header h2:hover{
    transform: scale(1.05);
    color: #b887f8a9;
}

nav{
    display: flex;
    gap: 35px;
    margin-right: 2rem;
}

nav a{
    transition: 0.3s ease-in-out;
}

nav a:hover{
    transform: translateY(1px);
    color: #b887f8a9;
}

#About{
    width: 100%;
    height: 90vh;
    margin-top: 10rem;
}

#about-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

#about-cont img{
    width: 20rem;
    border-radius: 50%;
}

#about-cont #about-text p{
    width: 600px;
}