@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #7a14ff9f, #000);
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top #000);
    position: fixed;
    top: 0;
    backdrop-filter: blur(5px);
}

header h2 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 2rem;
   text-shadow: 5px 5px 15px #fff;
    transition: 0.4s ease-in;
}

header h2:hover {
    transform: scale(1.05);
    color: #b887f8a9;
    text-shadow: 4px 4px 10px #b887f8a9;
}

nav {
    display: flex;
    gap: 35px;
    margin-right: 2rem;
}

nav a {
    text-shadow: 2px 2px 5px #fff;
    transition: 0.3s ease-in-out;
}

nav a:hover {
    transform: translateY(1px);
    color: #b887f8a9;
    text-shadow: 4px 4px 10px #b887f8a9;
}

#About {
    width: 100%;
    height: auto;
    margin-top: 15rem;
    margin-bottom: 20rem;
}

#about-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

#about-cont img {
    width: 20rem;
    border-radius: 50%;
    box-shadow: 4px 4px 15px #fff;
}

#about-cont #about-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

#about-cont #about-text h1 {
    text-shadow: 2px 2px 5px #fff;
    font-size: 2.2rem;
}

#about-cont #about-text h1 span {
    font-size: 2.5rem;
    border-left: 4px solid #b887f8a9;
    padding-left: 10px;
    color: #b887f8a9;
    text-shadow: 4px 4px 10px #b887f8a9;
}

#about-cont #about-text h3 {
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px #fff;
}

#about-cont #about-text h3 span {
    font-size: 1.8rem;
    color: #b887f8a9;
    text-shadow: 4px 4px 10px #b887f8a9;
    border-left: 3px solid #b887f8a9;
    padding-left: 10px;
    position: relative;
}

#about-cont #about-text h3 span::after {
    content: "";
    display: inline-block;
    height: 3rem;
    animation: bordar 0.3s infinite;
    position: absolute;
    align-self: center;
}

@keyframes bordar {

    0%,
    100% {
        border-right: 2px solid #b887f8a9;
    }

    50% {
        border-right: 2px solid transparent;
    }
}

#about-cont #about-text h3 span::before {
    content: "";
    animation: profession 10s infinite;
}

@keyframes profession {
    0% {
        content: "Front-end Developer";
    }

    10% {
        content: "Front-end Developer";
    }

    20% {
        content: "HTML & CSS Expert";
    }

    30% {
        content: "HTML & CSS Expert";
    }

    40% {
        content: "UI-focused Developer";
    }

    50% {
        content: "UI-focused Developer";
    }

    60% {
        content: "Creative Programmer";
    }

    70% {
        content: "Creative Programmer";
    }

    80% {
        content: "Responsive Web Builder";
    }

    90% {
        content: "Responsive Web Builder";
    }

    100% {
        content: "Front-end Developer";
    }
}

#about-cont #about-text p {
    text-shadow: 2px 2px 5px #fff;
    width: 800px;
}

#about-cont #btns {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

#about-cont #btns a {
    border: 2px solid #000;
    padding: 10px 25px;
    border-radius: 20px;
    text-shadow: 2px 2px 5px #fff;
    background: linear-gradient(to top, #7a14ff9f, #000);
    transition: 0.3s ease-in-out;
    opacity: 80%;
}

#about-cont #btns a:hover {
    box-shadow: 5px 5px 15px #000;
    transform: translateY(5px);
    opacity: 100%;
}

@media (max-width: 1000px){

    header h2{
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    nav a{
        font-size: 0.7rem;
    }

    nav{
        gap: 10px;
        margin-right: 1rem;
    }

    #About{
        margin-bottom: 10rem;
    }
    
#about-cont{
    flex-direction: column;
    padding-inline: 15px;
}

#about-cont #about-text p {
    width: 350px;
}

#Skills #line{
    width: auto;
}
}

#Skills{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

#Skills #heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Skills h1{
    text-shadow: 1px 1px 3px #fff;
}

#Skills #line{
    width: 500px;
    border-bottom: 3px solid #000;
    box-shadow: 2px 2px 4px #000;
    border-radius: 25px;
    margin-bottom: 3rem;
}

#Skills #services{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#Skills #services .skill{
    width: 350px;
    height: 200px;
    border: 2px solid #00000079;
    background: #b887f8a9;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

#Skills #services .skill:hover{
    transform: translateY(5px);
    box-shadow: 5px 5px 8px rgb(15, 15, 15);
    border: 2px solid #000;

}

#Skills #services .skill .txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 15px;

}

#Skills #services .skill .txt h3{
    color: #7a14ff9f;
    text-shadow: 2px 2px 5px #7a14ff9f;
    border-bottom: 2px solid #000;
    margin-bottom: 1rem;
}

#Skills #services .skill .txt p{
    text-shadow: 1px 1px 2px #fff;
}